#app {
  font-family: Arial, clear sans Helvetica-Neue, sans-serif;
  background-color: #f0f0f0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#menu {
  text-align: center;
}

#title {
  font-size: 50px;
}

#grid {
  margin: auto;
  border-collapse: collapse;
}

.tile {
  height: 100px;
  width: 100px;
  border: 1px solid#696969;
  overflow: hidden;
  font-weight: 600;
  color: #708090;
  text-align: center;
}
